@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Be Vietnam pro",sans-serif;
    }
    :root {
        --bgOrange: #812451;
      }

#wrapper{
    height: 100vh;
    overflow-y:auto;
    overflow-x:hidden;
    background-color: #812451;
    
}

.container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
.logo{
    width: 80px;

}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: baseline;
    background-image: none;
    margin-bottom: 0;


}
.nav-items{
    display: flex;
    gap: 100px;

}
.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.8 linear;
}
.nav-items div a{
    color: white;
}
a{
    text-decoration: none;
}
.nav-items div:hover{
    
    font-weight:bold;
    transition: 1s;

}
.btn-pink{
    background-color: #ffffff;
    padding: 0.8rem 2.3rem;
    color: #812451;
    font-size: 18px;
    box-shadow: 5px 5px 7px 0px #0000003f;
    position: relative;
    z-index: 1;
    height: 50px;
    border-radius: 25px;
    
}
.btn-pink::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 1s;
    z-index: -1;
    border-radius: 25px;
    
}
.btn-pink:hover::before{
    transform: scaleX(1);
    border-radius: 25px;
}


.center-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 0.6rem 1.8rem;
    color:#812451 ;
    font-size: 18px;
    box-shadow: 5px 5px 7px 0px #0000003f;
    position: relative;
    z-index: 1;
    height: 40px;
    border-radius: 25px;
    text-align: center;
    margin-top: 10px;
}
.center-btn::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 1s;
    z-index: -1;
    border-radius: 25px;
}
.center-btn:hover::before{
    transform: scaleX(1);
    border-radius: 25px;
}
