<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/job.css')}}">
</head>
<body>
    <div id="wrapper">
       
        <div class="container">
            <h1 class="contactus-heading">Add your Job Discription</h1>
           <form class="form" action="">
            <div class="formfield-container">
            <textarea name="message" id="" cols="30" rows="10" class="formfield formfield-textarea" placeholder="Enter Here"></textarea>
            </div>
          </form>
            
        </div>
        
    </div>
</body>
</html>